certifi==2026.1.4
charset-normalizer==3.4.4
g==0.0.9
idna==3.11
kagglehub==0.4.1
kagglesdk==0.1.15
numpy==2.2.6
packaging==26.0
pandas==2.3.3
protobuf==6.33.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
tqdm==4.67.1
tzdata==2025.3
urllib3==2.6.3
